@model SisAuxSUS_AP2.Models.Paciente

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeDoPaciente" class="control-label"></label>
                <input asp-for="NomeDoPaciente" class="form-control" />
                <span asp-validation-for="NomeDoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdadeDoPaciente" class="control-label"></label>
                <input asp-for="IdadeDoPaciente" class="form-control" />
                <span asp-validation-for="IdadeDoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CidadeDoPaciente" class="control-label"></label>
                <input asp-for="CidadeDoPaciente" class="form-control" />
                <span asp-validation-for="CidadeDoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeSintoma" class="control-label"></label>
                <select asp-for="TipoDeSintoma" class="form-control"></select>
                <span asp-validation-for="TipoDeSintoma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
